aws_lambda_architecture/batch_layer/infrastructure/orchestration/state_machine_definition.json
{
  "Comment": "Optimized Daily OHLCV Pipeline with Parallel Execution",
  "StartAt": "ParallelFetchers",
  "States": {
    "ParallelFetchers": {
      "Type": "Parallel",
      "Comment": "Run OHLCV and Metadata fetchers in parallel",
      "Branches": [
        {
          "StartAt": "FetchOHLCV",
          "States": {
            "FetchOHLCV": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:ca-west-1:471112909340:function:dev-batch-daily-ohlcv-fetcher",
                "Payload": {
                  "skip_market_check": false,
                  "backfill_missing": true,
                  "max_backfill_days": 7
                }
              },
              "Retry": [
                {
                  "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                  "IntervalSeconds": 60,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "End": true,
              "ResultPath": "$.ohlcvResult"
            }
          }
        },
        {
          "StartAt": "FetchMetadata",
          "States": {
            "FetchMetadata": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:ca-west-1:471112909340:function:dev-batch-daily-meta-fetcher",
                "Payload": {}
              },
              "Retry": [
                {
                  "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "End": true,
              "ResultPath": "$.metadataResult"
            }
          }
        }
      ],
      "Next": "PipelineComplete",
      "ResultPath": "$.fetcherResults",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure",
          "ResultPath": "$.error"
        }
      ]
    },

    "NotifyFailure": {
      "Type": "Task",
      "Comment": "Send SNS notification on pipeline failure",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ca-west-1:471112909340:condvest-pipeline-alerts",
        "Subject": "🚨 Daily OHLCV Pipeline Failed",
        "Message.$": "States.Format('Pipeline execution {} failed. Error: {}', $$.Execution.Name, $.error)"
      },
      "Next": "PipelineFailed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed"
        }
      ]
    },

    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineExecutionFailed",
      "Cause": "One or more pipeline stages failed"
    },

    "PipelineComplete": {
      "Type": "Succeed",
      "Comment": "Pipeline completed successfully"
    }
  }
}

